@model IEnumerable<WEBSITE_MOTEL.Models.PHONGTRO>
@{
    ViewBag.Title = "Manage";
    //Layout = "~/Views/_LayoutUser.cshtml";
    Layout = "~/Areas/ChuTroArea/Views/Shared/_LayoutChuTroArea.cshtml";
}

<div class="nav-text">
    <ol>
        <li><a href="@Url.Action("NhaTro")">Quản Lý Nhà Trọ</a></li>
        <li id="arrow1"><i class="fa fa-angle-right"></i></li>
        <li class="active" id="search-target">Quản Lý Phòng Trọ</li>
    </ol>
</div>
<li class="item">
    <a class="btn-dang-tin" href="@Url.Action("DangBai","QLBaiDang")">
        <i class="fa fa-plus-circle"></i>
        <p>Thêm phòng trọ</p>
    </a>
</li>
<style>
    /* Định dạng chung cho nút "Đăng tin" */
    .btn-dang-tin {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #428bca;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        /* Hiệu ứng khi di chuột qua nút "Đăng tin" */
        .btn-dang-tin:hover {
            background-color: #3071a9;
        }

        /* Icon và văn bản trong nút */
        .btn-dang-tin i {
            font-size: 24px;
            margin-right: 10px;
        }

        .btn-dang-tin span {
            font-size: 18px;
            font-weight: bold;
        }

        /* Để biểu tượng và văn bản nằm trên cùng một dòng */
        .btn-dang-tin i, .btn-dang-tin span {
            vertical-align: middle;
        }
</style>
<section class="wrap-content">
    <div class="content" style="border: none;">
        <div class="wrapper">
            <!-- Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="quan_ly_tin">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;" class="td_center">Mã số</th>
                                    <th style="white-space: nowrap;">Tên nhà trọ</th>
                                    <th style="white-space: nowrap; text-align: center;">Thao tác</th>
                                    <th style="white-space: nowrap; text-align: center;">Thao tác</th>
                                    <th style="white-space: nowrap; text-align: center;">Thanh Toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="td_col2 td_matin">@item.Id</td>
                                        <td class="td_col5 td_col5_right">
                                            <a  class="" target="_blank">@item.TenNhaTro</a>
                                        </td>
                                        <td >
                                            <a class="btn btn_action" id="st2" data-id="@item.Id"><i class="fa fa-refresh"></i> Hoạt động lại</a>
                                            <a class="btn btn_action" id="st1" data-id="@item.Id"><i class="fa fa-expeditedssl"></i> Ngừng hoạt động</a>

                                            <a class="btn btn_action" href="#" id="idsua" data-id="@item.Id"><i class="fa fa-pencil"></i> Sửa</a>

                                            <a class="btn btn_action" href="@Url.Action("BaoCaoCuaCT", new {id = item.Id})" id="idxemchitiet" data-id="@item.Id" style="color:#f2af11"><i class="fa fa-info-circle"></i> Xem báo cáo </a>

                                            <a class="btn btn_action" href="@Url.Action("XemChiTiet", new {id = item.Id})" id="idxemchitiet" data-id="@item.Id" style="color:#0d88e5"><i class="fa fa-user"></i> Xem thông tin người thuê </a>

                                        </td>
                                        <td>
                                            <a class="btn btn_action btn-success" id="st3" data-id="@item.Id">Đang Thuê</a>
                                        </td>
                                        <td>
                                            <a  class="btn btn_action btn-danger" id="st4" data-id="@item.Id">Chưa thanh toán</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="page_navigation">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>$(document).on('click', "close", (function () {
        location.reload();
    }));
    $(document).on('click', "cls", (function () {
        location.reload();
    }));</script>


